# <font color='blue'>Data Science Academy</font>

## <font color='blue'>Fundamentos de Linguagem Python Para Análise de Dados e Data Science</font>

## <font color='blue'>Capítulo 4 - Exercícios</font>

### Andre | Nov 2024

In [72]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.7

## Exercícios
#### Andre | Nov 2024

In [73]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [74]:
lista = [1,2,3,4,5,6,7,8,9,10]

In [75]:
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [41]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [42]:
lista2 = ["obj1", "obj2", "obj3", "obj4", "obj5"]

In [43]:
print(lista2)

['obj1', 'obj2', 'obj3', 'obj4', 'obj5']

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [44]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [45]:
string_1, string_2 = "Andre", " Rigotto"

In [46]:
string_3 = string_1 + string_2

In [47]:
string_3

'Andre Rigotto'

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [48]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [49]:
tupla_1 = ( 1, 2, 2, 3, 4, 4, 4, 5)

In [50]:
tupla_1

(1, 2, 2, 3, 4, 4, 4, 5)

In [51]:
tupla_1.count(4)

3

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [52]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [53]:
dic_1 = {}

In [54]:
print(dic_1)

{}

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [55]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [56]:
dic_2 = {"ch_1": "Andre", "ch_2": 200, "ch_3": "500"}

In [57]:
print(dic_2)

{'ch_1': 'Andre', 'ch_2': 200, 'ch_3': '500'}

In [58]:
dic_2["ch_1"]

'Andre'

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [59]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [60]:
dic_2["ch_4"] = 600

In [61]:
dic_2

{'ch_1': 'Andre', 'ch_2': 200, 'ch_3': '500', 'ch_4': 600}

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [62]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [63]:
dic_3 = {"1A": "Rigotto", "2B": "Luiz", "3C": [1, 2, 4]}

In [64]:
print(dic_3)

{'1A': 'Rigotto', '2B': 'Luiz', '3C': [1, 2, 4]}

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [65]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

In [66]:
lista_3 = ["Andre", (2, "Rigotto"), {"cod_1":200, "cod_2":300}, 1.56]

In [67]:
print(lista_3)

['Andre', (2, 'Rigotto'), {'cod_1': 200, 'cod_2': 300}, 1.56]

In [68]:
type(lista_3[3])

float

### --------------------------------------------------- FIM ---------------------------------------------------------------

In [69]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [70]:
print(frase[0:18])
# Obs: Essas posições solicitadas são as reias e não os indices em Python - Andre

Cientista de Dados

### --------------------------------------------------- FIM ---------------------------------------------------------------

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>